.status-active {
background-color: #e6f4ea;
      color: #137333; /* verde escuro */

    font-weight: 500;
    border-radius: 50px;
    padding: 0.4em 0.8em;
  }

 

  .status-deactive {
   background-color: #fdecea;
    color: #a61b1b; /* vermelho escuro */
    font-weight: 500;
    border-radius: 50px;
    padding: 0.4em 0.8em;
  }