<h2>Editar Orçamento</h2>
<span>Edite seu orçamento</span>

<form action="{% url 'core:budget_edit' budget_id=budget.id %}" method="POST">
    {% csrf_token %}
    
    <h6>{{ budget.code }} - {{ budget.client }} </h6>
        {{ form.title.label_tag }}

        {{ form.title }}
        {{ form.status.label_tag}}
         {{ form.client.as_hidden }}
    {{ form.status }}

    <h4 class="mt-4">Serviços</h4>

    <div id="services-forms">
    {{ formset.management_form }}

    {% for f in formset %}
        
        <div class="card card-new-service p-3 mb-3">
            <h5>Serviço: {{ forloop.counter }}</h5>
            {{ f.as_p }}

        </div>
    {% endfor %}
</div>

    <button type="button" id="add-service" class="btn btn-outline-primary mb-3">Adicionar Serviço</button>

    <div class="buttons-form">
        <button type="button" class="btn btn-danger"
            onclick="window.loadContent('budgets', window.initBudgets)">Cancelar</button>
        <button type="submit" class="btn btn-success">Enviar</button>
    </div>
</form>
