<h2>Editar Orçamento</h2>
<span>Edite seu orçamento</span>

<form action="{% url 'core:budget_edit' budget_id=budget.id %}" method="POST">
    {% csrf_token %}

    <h6>{{ budget.code }} - {{ budget.client }} </h6>
    {{ form.title.label_tag }}

    {{ form.title }}
    {{ form.status.label_tag}}
    {{ form.client.as_hidden }}
    {{ form.status }}

    <h4 class="mt-4">Serviços</h4>

    <div id="services-forms">
        {{ formset.management_form }}

        {% for f in formset %}

        <div class="card card-new-service p-3 mb-3">

            {{ f.as_p }}

        </div>
        {% endfor %}
    </div>
<h4 class="mt-4">Materiais</h4>

<div id="materials-forms">
    {{ materials_formset.management_form }}

    {% for f in materials_formset %}
        <div class="card card-new-material p-3 mb-3">
            {{ f.as_p }}
        </div>
    {% endfor %}
</div>

<button type="button" id="add-material" class="btn btn-outline-primary mb-3">Adicionar Material</button>

    <button type="button" id="add-service" class="btn btn-outline-primary mb-3">Adicionar Serviço</button>

    <div class="buttons-form">
        <button type="button" class="btn btn-danger"
            onclick="window.loadContent('budgets', window.initBudgets)">Cancelar</button>

        <button type="submit" class="btn btn-success">Salvar</button>
        
       
            
               <button class="btn btn-secondary">
                   <a href="{% url 'core:view_pdf' budget.id %}" target="_blank" style="text-decoration: none; color: white;">
                    Ver Impressão PDF</a>
               </button>
            
        
        

    </div>
</form>