<table class="table table-hover align-middle text-center">
  <thead class="table-light">
    <tr>
      <th>Nome</th>
      <th>Telefone</th>
      <th>Email</th>
      <th>Cidade</th>
      <th>Status</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    {% for client in clients %}
    <tr>
      <td>{{ client.name }} {{ client.lastname }}</td>
      <td>{{ client.phone }}</td>
      <td>{{ client.email }}</td>
      <td>{{ client.city }} </td>

      <td><span class="status-{% if client.status == 'ativo' %}active{% else %}deactive{% endif %}">{{ client.status }}</span></td>
      <td>

        <i class="fa-solid fa-pencil edit-client" data-id="{{ client.id }}"></i>
        <i class="fa-solid fa-eye view-client" data-id="{{ client.id }}"></i>

        <i class="fa-solid fa-x delete-client" data-client_id="{{ client.id }}"></i>

      </td>

    </tr>
    {% empty %}
    <tr>
      <td colspan="6">Nenhum cliente encontrado.</td>
    </tr>
    {% endfor %}
  </tbody>
</table>