<!-- <form method="POST">

    {% csrf_token %}
    
    {{ form.as_p }}

    <div class="buttons-edit-clients">
        <button class="btn btn-danger" onclick="window.loadContent(`client/view/${id}`)">Cancelar</button>
        <button type="submit" class="btn btn-primary">Salvar</button>

    </div>

</form> -->

<form action="dashboard/client/edit/{{ client_id }}/" method="POST">
    {% csrf_token %}
    {{ form.as_p }}

<div class="buttons-form">
    
        <button type="button" class="btn btn-danger" onclick="window.loadContent('clients', window.initClients)">Cancelar</button>
    
        <button type="submit" class="btn btn-success">Salvar</button>
</div>
    
</form>
