{% extends "master.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'core/css/dashboard.css' %}">
<link rel="stylesheet" href="{% static 'core/css/clients.css' %}">
{% endblock %}

{% block title %}Dashboard{% endblock %}

{% block body %}
<div class="div-dashboard">
       
    <section id="sidebar-dashboard">
        <ul class="menu">
            <li class="menu-item active" data-section="home">Dashboard</li>
            <li class="menu-item" data-section="clients">Clientes</li>
            <li class="menu-item" data-section="budgets">Orçamentos</li>
            <li class="menu-item" data-section="profile">Minha Conta</li>
            

        </ul>
    </section>

    <section id="content-dashboard">
        <!-- Conteúdo carregado via AJAX -->
        <div id="content-area"></div>
    </section>
</div>







{% endblock %}