{% load currency %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'core/css/report.css'%}">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock %}


<div class="container view-print" id="area-pdf">

    <!-- = CABEÇALHO = -->
    <div class="company-header">

        {% if request.user.userprofile.plan == 'pro' %}

        <h1>Novo Padrão Reforma e Manutenção Predial</h1>
        <div>DOUGLAS ALEXANDRE BARBOSA 36813601890</div>
        <div>CNPJ: 37.763.872/0001-11 - CEP: 17033-810</div>
        <div>E-mail: novopadrao.reformas@gmail.com</div>
        <div>Telefone: (14) 99734-9757 / (14) 99198-0130</div>

        {% else %}
        <img src="{% static 'core/images/marca_dagua.png'  %}" alt="" width="100%">
        {% endif %}
    </div>



    <!-- = TÍTULO = -->
    <div>

        <h2 class="budget-title">ORÇAMENTO {{ budget.code }} <span class="text-muted budget-title-span"> | 
            {{  budget.title }}</span></h2>
    </div>


    <!-- = CLIENTE = -->

    <div class="datas-client">

        <p style="font-weight: bolder;">Cliente: {{ budget.client.name }} {{ budget.client.lastname }}</p>
        <p>CNPJ: criar no model </p>
        <p>{{ budget.client.street }}, {{ budget.client.neighborhood }} </p>
        <p>{{ budget.client.city }} - {{ budget.client.state }} | CEP {{ budget.client.zipcode }}</p>
        <p> </p>



        <p>Telefone: {{ budget.client.phone }}</p>
        <p>Email: {{ budget.client.email }}</p>

    </div>

    <div class="section-title">INFORMAÇÕES BÁSICAS</div>

    <h1>to do </h1>
    <!-- = SERVIÇOS = -->
    <div class="section-title">SERVIÇOS</div>

    <table class="print-table">
        <tr>

            <th style="text-align: left;">Descrição</th>
            <th style="text-align: center;">Preço unitário</th>

            <th style="text-align: center;">Quantidade</th>
            <th style="text-align: right;">Valor</th>
        </tr>

        {% for s in services %}
        <tr>

            <td>
                <p style="margin-bottom: 5px;"><strong>{{ s.service }}</strong></p>
                <p style="margin-top: 5px;">{{ s.description|linebreaksbr }}</p>
            </td>

            <td style="text-align: center;">{{ s.unit_price|currency }}

            </td>

            <td style="text-align: center;">
                {% if s.quantity %}{{ s.quantity }}{% endif %}</td>
            <td style="text-align: right;">{{ s.subtotal_services|currency }}</td>
        </tr>
        {% endfor %}
         <tr>
                <td colspan="2"><strong>Subtotal de Serviços</strong></td>
                <td colspan="3 " style="text-align: right;"><strong>{{ total_services|currency }}</strong></td>
            </tr>
    </table>


    <!-- = MATERIAIS = -->
    <div class="section-title">Materiais</div>

    <table class="print-table">
        <tr>

            <th style="text-align: left;">Descrição</th>
            <th style="text-align: center;">Unidade</th>
            <th style="text-align: center;">Preço Unitário</th>
            <th>Quantidade</th>

            <th style="text-align: right;">Valor </th>
        </tr>

        {% for m in materials %}
        <tr>
            <td>
                <p style="margin-bottom: 5px;"><strong>{{ m.name }}</strong></p>
                <p style="margin-top: 5px;">{{ m.description|linebreaksbr }}</p>
            </td>

            <td style="text-align: center;">to do</td>
            <td style="text-align: center;">{% if m.quantity %}{{ m.quantity }}{% endif %}</td>
            <td style="text-align: center;">{{ m.unit_price|currency }}</td>
            <td style="text-align: right;">{{ m.subtotal_material|currency }}</td>
        </tr>
        {% endfor %}
         <tr >
                <td colspan="2"><strong>Subtotal de Materiais</strong></td>
                <td colspan="3 " style="text-align: right;"><strong>{{ total_materials|currency }}</strong></td>
            </tr>
    </table>




    <div class="resume-values" style="width: 100%;">

        <table>
            
            <tr>
                <td>Serviços</td>
                <td >{{ total_services|currency }}</td>
                
            </tr>
            <tr>
                <td>Materiais</td>
                <td>{{ total_materials|currency }}</td>
                
            </tr>

            <tr>
                <td>Total    </td>
                <td>{{ budget.total_value|currency }}</td>
            
            </tr>

        </table>

    </div>

    <div class="section-title">Pagamentos</div>
<h1>to do</h1>
    <!-- = OBSERVAÇÕES = -->
    {% if budget.obs %}
    <div class="section-title">Observações</div>
    <p>{{ budget.obs }}</p>
    {% endif %}

    <div>
        <p style="text-align: center; font-weight: bolder;"> {{ budget.created_at|date:"d/m/Y" }}
        </p>
    </div>
    <div style="display: flex; justify-content: center; padding-top: 50px;">
        <div style="border-top: 1px solid #000;text-align: center; width: 50%; padding-top: 0;">
            <p style="margin: 2px 0; font-weight: bolder; padding-top: 0px;">{{ request.user.company.company_name }}</p>
            <p style="margin-top: 0;">{{ request.user.first_name }} {{ request.user.last_name }}</p>

        </div>
    </div>


    <!-- = RODAPÉ = -->

    <div class="footer">
        {% if request.user.plan == 'pro' %}

        Facebook: novopadrao.reformas • Instagram: @novopadrao.reformas
        <br>
        Obrigado pela confiança!

        {% else %}

        <img src="{% static 'core/images/marca_dagua.png'  %}" alt="" width="100%">

        {% endif %}
    </div>
<a href="{% url 'core:download_report' budget.id %}" class="btn btn-success">
    Baixar PDF (Profissional)
</a>

</div>


