{% load currency %}
{% load static %}

{% block extra_css %}
<style>
    /* ===== RESET PARA XHTML2PDF ===== */
    /* Ele cria bordas automáticas → zeramos todas */
    

    /* Remove bordas involuntárias no container */
    .view-print {
        border: none !important;
        padding: 20px;
        font-family: Helvetica, Arial, sans-serif;
        font-size: 12px;
        color: #000;
    }

    .view-print table{

    }

    .company-header {
        text-align: center;
        margin-bottom: 15px;
        padding-bottom: 10px;
        border: none !important;
    }

    .company-header h1 {
        font-size: 18px;
        margin: 0;
        padding: 0;
    }

    .budget-title,
    .budget-title-span {
        /* border: 1px solid black; */
        display: flex;
        align-items: center;
        background: #eee;
        height: 40px;
        padding-left: 10px;

    }

    .budget-title-span {

        color: #6b6b6b;
        font-size: 15px;

    }

    .datas-client p {
        /* border: 1px solid #000 !important; */
        margin-bottom: 2px;
        margin-top: 6px;
        font-size: 18px;

    }

    /* Caixa de seção */
    .section-title {
        background: #eee;
        /* border: 1px solid #000 !important; */
        padding: 6px;
        font-weight: bolder;
        margin-top: 22px;
        margin-bottom: 5px;
        font-size: 18px;
    }

    /* Tabelas principais */
    table.print-table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 5px;
    }

    /* Agora aplicamos borda SOMENTE onde queremos */
    table.print-table th,
    table.print-table td {
        /* border: 1px solid #000 !important; */
        padding: 5px;
        vertical-align: top;
    }
.print-table td:first-child {
    white-space: normal !important;
    word-wrap: break-word !important;
    overflow-wrap: break-word !important;
    max-width: 250px; /* opcional: limite de largura */
}

    .print-table tr td {
        /* background: #f2f2f2; */

        border-bottom: 1px solid #6b6b6b;
    }

    .resume-values,
    .resume-values p {
        /* border: 1px solid rgb(255, 0, 0); */
        display: flex;
        justify-content: right;
        margin-top: 20px;
    }

    .resume-values table{
        /* border: 1px solid rgb(88, 236, 2); */
        width: 60%;
        border-collapse: collapse;
        

    }
    .resume-values tr {
        /* border: 1px solid black; */
        background-color:#eee;
        
    }
    .resume-values tr:last-child {
        /* border: 1px solid black; */
        background-color:#dadada;
        font-weight: bolder;
        
    }
    .resume-values td {
        /* border: 1px solid black; */
        padding: 5px;
    }
    .resume-values td:nth-child(2){
        /* border: 1px solid rgb(17, 52, 255); */
        width: 100px;
        text-align:right;

        
    }



    .footer {
        margin-top: 30px;
        text-align: center;
        font-size: 11px;
        border-top: 1px solid #000 !important;
        padding-top: 10px;
    }
</style>
{% endblock %}


<div class="container view-print" id="area-pdf">

    <!-- = CABEÇALHO = -->
    <div class="company-header">

        {% if request.user.userprofile.plan == 'pro' %}

        <h1>Novo Padrão Reforma e Manutenção Predial</h1>
        <div>DOUGLAS ALEXANDRE BARBOSA 36813601890</div>
        <div>CNPJ: 37.763.872/0001-11 - CEP: 17033-810</div>
        <div>E-mail: novopadrao.reformas@gmail.com</div>
        <div>Telefone: (14) 99734-9757 / (14) 99198-0130</div>

        {% else %}
        <img src="{% static 'core/images/marca_dagua.png'  %}" alt="" width="100%">
        {% endif %}
    </div>



    <!-- = TÍTULO = -->
    <div>

        <h2 class="budget-title">ORÇAMENTO {{ budget.code }} <span class="text-muted budget-title-span"> | 
            {{  budget.title }}</span></h2>
    </div>


    <!-- = CLIENTE = -->

    <div class="datas-client">

        <p style="font-weight: bolder;">Cliente: {{ budget.client.name }} {{ budget.client.lastname }}</p>
        <p>CNPJ: criar no model </p>
        <p>{{ budget.client.street }}, {{ budget.client.neighborhood }} </p>
        <p>{{ budget.client.city }} - {{ budget.client.state }} | CEP {{ budget.client.zipcode }}</p>
        <p> </p>



        <p>Telefone: {{ budget.client.phone }}</p>
        <p>Email: {{ budget.client.email }}</p>

    </div>

    <div class="section-title">INFORMAÇÕES BÁSICAS</div>

    <h1>to do </h1>
    <!-- = SERVIÇOS = -->
    <div class="section-title">SERVIÇOS</div>

    <table class="print-table">
        <tr>

            <th style="text-align: left;">Descrição</th>
            <th style="text-align: center;">Preço unitário</th>

            <th style="text-align: center;">Quantidade</th>
            <th style="text-align: right;">Valor</th>
        </tr>

        {% for s in services %}
        <tr>

            <td>
                <p style="margin-bottom: 5px;"><strong>{{ s.service }}</strong></p>
                <p style="margin-top: 5px;">{{ s.description|linebreaksbr }}</p>
            </td>

            <td style="text-align: center;">{{ s.unit_price|currency }}

            </td>

            <td style="text-align: center;">
                {% if s.quantity %}{{ s.quantity }}{% endif %}</td>
            <td style="text-align: right;">{{ s.subtotal_services|currency }}</td>
        </tr>
        {% endfor %}
    </table>


    <!-- = MATERIAIS = -->
    <div class="section-title">Materiais</div>

    <table class="print-table">
        <tr>

            <th style="text-align: left;">Descrição</th>
            <th style="text-align: center;">Unidade</th>
            <th style="text-align: center;">Preço Unitário</th>
            <th>Quantidade</th>

            <th style="text-align: right;">Valor </th>
        </tr>

        {% for m in materials %}
        <tr>
            <td>
                <p style="margin-bottom: 5px;"><strong>{{ m.name }}</strong></p>
                <p style="margin-top: 5px;">{{ m.description|linebreaksbr }}</p>
            </td>

            <td style="text-align: center;">to do</td>
            <td style="text-align: center;">{% if m.quantity %}{{ m.quantity }}{% endif %}</td>
            <td style="text-align: center;">{{ m.unit_price|currency }}</td>
            <td style="text-align: right;">{{ m.subtotal_material|currency }}</td>
        </tr>
        {% endfor %}
    </table>




    <div class="resume-values" style="width: 100%;">

        <table>
            
            <tr>
                <td>Serviços</td>
                <td >{{ total_services|currency }}</td>
                
            </tr>
            <tr>
                <td>Materiais</td>
                <td>{{ total_materials|currency }}</td>
                
            </tr>

            <tr>
                <td>Total    </td>
                <td>{{ budget.total_value|currency }}</td>
            
            </tr>

        </table>

    </div>

    <div class="section-title">Pagamentos</div>
<h1>to do</h1>
    <!-- = OBSERVAÇÕES = -->
    {% if budget.obs %}
    <div class="section-title">Observações</div>
    <p>{{ budget.obs }}</p>
    {% endif %}

    <div>
        <p style="text-align: center; font-weight: bolder;"> {{ budget.created_at|date:"d/m/Y" }}
        </p>
    </div>
    <div style="display: flex; justify-content: center; padding-top: 50px;">
        <div style="border-top: 1px solid #000;text-align: center; width: 50%; padding-top: 0;">
            <p style="margin: 2px 0; font-weight: bolder; padding-top: 0px;">{{ request.user.company.company_name }}</p>
            <p style="margin-top: 0;">{{ request.user.first_name }} {{ request.user.last_name }}</p>

        </div>
    </div>


    <!-- = RODAPÉ = -->

    <div class="footer">
        {% if request.user.plan == 'pro' %}

        Facebook: novopadrao.reformas • Instagram: @novopadrao.reformas
        <br>
        Obrigado pela confiança!

        {% else %}

        <img src="{% static 'core/images/marca_dagua.png'  %}" alt="" width="100%">

        {% endif %}
    </div>

</div>

<button id="btnDownloadPdf" class="btn btn-primary">Baixar PDF</button>
{% block js_extra%}
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.min.js"></script>
<script>

    document.getElementById("btnDownloadPdf").addEventListener("click", () => {

        const element = document.getElementById("area-pdf");

        const options = {
            margin: 5,
            filename: "orcamento-{{ budget.code }}.pdf",
            image: { type: 'jpeg', quality: 0.98 },
            html2canvas: {
                scale: 2,            // aumenta nitidez
                useCORS: true
            },
            jsPDF: {
                unit: 'mm',
                format: 'a4',
                orientation: 'portrait'
            }
        };

        html2pdf().set(options).from(element).save();
    });

</script>

{% endblock %}